<h3>Product List</h3>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Supplier ID</th>
        <th>Category ID</th>
        <th>Unit</th>
        <th>Price</th>
      </tr>
      <tr *ngFor="let item of productList">
        <td>{{item.id}}</td>
        <td><a routerLink="{{item.id}}/detail">{{item.product}}</a></td>
        <td>{{item.supplierId}}</td>
        <td>{{item.categoryId}}</td>
        <td>{{item.unit}}</td>
        <td>{{item.price|currency}}</td>
      </tr>
    </table>
  </div>
</div>