<h1>Customer Detail</h1>


<div class="row mb-2">
  <td class="col-3"><strong>ID</strong></td>
  <td class="col-9">{{customerRecord.id}}</td>
</div>
<div class="row mb-2">
  <td class="col-3"><strong>Name</strong></td>
  <td class="col-9">{{customerRecord.name}}</td>
</div>
<div class="row mb-2">
  <td class="col-3"><strong>City</strong></td>
  <td class="col-9">{{customerRecord.city}}</td>
</div>
<div class="row mb-2">
  <td class="col-3"><strong>Country</strong></td>
  <td class="col-9">{{customerRecord.country}}</td>
</div>
<div class="row mb-4">
  <td class="col-3"><strong>Zip Code</strong></td>
  <td class="col-9">{{customerRecord.zipcode}}</td>
</div>

<button routerLink="/customers" class="btn btn-sm btn-link">Back To List</button>